body{
  background: #12c4f0;
  font-family: Times New Roman;
}
.caption{
  text-align: center;
  padding-bottom: auto;
}
.nim{
  display: block;
  text-align: center;
  padding-bottom: 15px;
  font-size: 18px;
}
img{
  width: 4cm;
  height: 4cm;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  border: 1px solid #0000;
  position: relative;
}
.hasil{
  box-sizing: border-box;
  box-shadow: 2px 2px 3px rgba(0,0,0,3);
  background: #00aeffd5;
  border-radius: 6px;
}
.sentuh{
  background-color: #47ffd8;
  text-align: center;
    color: black;
    padding: 15px 20px 15px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: auto;
    transition: 0.4s;
}

.sentuh1{
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 600px){
  img{
    border-radius: 50%;
    box-shadow: 1px 1px 4px grey;
    padding: 5px;
    margin: 5px;
    margin-top: 50px;
    margin-bottom: 35px;
    margin-left: 35px;
    object-fit: cover;
    display: block;
    transition: 0.4s;
    width: 11.5cm;
    height: 9.5cm;
  }
  .caption{
    font-size: 65px;
    padding: 70px 10px 15px 10px;
  }
  .nim{
    display: none;
  }
  .sentuh{
    padding: 35px 25px 35px 25px;
    font-size: 43px;
    border-radius: 12px;
  }
  .hasil{
    display: flex;
    width: 100%;
  }
  .sentuh1{
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
  }
  }
}